<title>
    WiFi remove control</title>

<!-- Bootstrap core -->
<link href="bootstrap.css" rel="stylesheet">
<style>
    .main {
        font-size: 32px;
    }
</style>

<head>
    <script type="text/javascript" src="jquery.js"></script>

</head>

<body>
    <script>
	$(document).ready(	function()
    {
		$.getJSON( "/config/" , function( data ) 
		{
			console.log( data );
		} );
            
	});
        
    </script>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Status</a></li>
                    <li role="presentation" class="active"><a href="/config">Configuration</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Controller config</h3>
        </div>
        <div class="row">
            <h2>&nbsp;</h2>
            <div class="col-xs-12 col-md-12 col-xs-offset-0 col-md-offset-0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sensors present</h3>
                    </div>
                    <div class="panel-body">
                        <input id="js-odometer" type="checkbox" name="using_odometr"  />Odometer
                        <br />
                        <input id="js-speedometer" type="checkbox" name="using_speedometer"  />Speedometer
                        <br />
                        <input id="js-imu" type="checkbox" name="using_imu"  />IMU
                        <br />
                        <input type="js-battery" name="sensors" value="Battry" />Battery voltage
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-xs-offset-0 col-md-offset-0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Network</h3>
                    </div>
                    <div class="panel-body">						
                        <input id="js-ap_client_name" name="sensors" />AP client SSID.
                        <input id="js-ap_client_pwd"  name="sensors" value="Battry" />AP client password.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>