<title>WiFi remove control</title>

<!-- Bootstrap core -->
<link href="bootstrap.css" rel="stylesheet">
<style>
.main {
	font-size: 32px;
}
</style>

<head>
<meta charset="utf-8">
<script type="text/javascript" src="jquery.js"></script>
</head>


<style>
html, body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
}

#joystick-content {
	position: relative;
	left: 0;
	top: 0;
	height: 59%;
	width: 100%;
	background: rgba(0, 255, 0, 0.1);
}
</style>

<body>
	<script type="text/javascript">
		function putToAlert( message , mode ) {
			
			$("#message-top").toggleClass( 'alert-success alert-info alert-warning alert-danger' , false )
							 .addClass( "alert-" + mode )
							 .html( message );
		}
		
		function prnTrimmers(bal, lim) {
			$('#jBalancePrn').html('Balance: ' + bal);
			$('#jMaxSpeedPrn').html('Limit: ' + lim);
		};
		var wsConnection;
		var wsReconnCount = 0;
		function startWS( )
		{
				putToAlert( "[WS] Web-socket start connection." , 'warning' );
				wsConnection = new WebSocket( "ws://" + location.host + ":8081/");

				wsConnection.onopen = function( ) {
					putToAlert('  [WS] Websocket open!', 'info' );
					f_wsOpened = true;
					window.setInterval( function(){
						wsConnection.send('ping');
					} , 3000 );
					prnTrimmers( $('#jBalance'  ).defvalue, $('#jLimit'  ).defvalue );
				};

				wsConnection.onerror = function( error ) {
					putToAlert(  '[WS] WebSocket Error ', 'danger' );
					console.log( '[WS] WebSocket Error ', 'error' );
					wsConnection.close();
				};

				wsConnection.onmessage = function( e ) {
					if( e.data != "pong" )
						putToAlert(  '[WS] Server message: ' + e.data , "success" );
					//console.log( '[WS] Server: ' + e.data);
				};
				wsConnection.onclose = function( ) {
					putToAlert(  '[WS] Reconnect websocket' , 'warning' );
					f_wsOpened = false;
					    setTimeout(function() { startWS(); }, 1000 );
					wsConnection = new WebSocket( "ws://" + location.host + ":8081/");  
			};
		}
		
		var f_wsOpened = false;
		
		$(document)
				.ready(
						function() { 
							startWS( ); 
							$('#jMaxSpeed').min = 0; $('#jMaxSpeed').max = 100; $('#jMaxSpeed').defaultValue = 0; 
							$('#jBalance').min = -100; $('#jBalans').max = 100; $('#jBalans').defaultValue = 0; 
						});
	</script>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="/">Status</a></li>
					<li role="presentation"><a href="/config.html">Configuration</a></li>
				</ul>
			</nav>
			<h3 class="text-muted">WEB UI controller</h3>
		</div>
		<div class="row">
			<h2>&nbsp;</h2>
			<div id="message-top" class="alert"></div>
			<div class="col-xs-offset-0 col-md-offset-0 col-xs-6 col-md-6 ">
				<div class="panel panel-default">
					<div class="panel-heading ">
						<h3 class="panel-title ">Joystick</h3>
					</div>
					<div class="panel-body ">
						<div id="joystick-content"></div>
						<script src="nipplejs.min.js" charset="utf-8"></script>
						<script>
							var absJoyPos = {	
								"force" : 0,
								"angle" : { "radian" : 0 , "degree" : 0 },
								"direction" : 0
							};

							var wheelPower = { "left" : 0 , "right" : 0 };
							/* ------------------ MOTORS POWER ---------------------- */
							function calcMotorPower(data) {
								
								wheelPower.left  = Math.round( absJoyPos.force * Math.cos( absJoyPos.angle.radian - Math.PI / 4 ) );
								wheelPower.right = Math.round( absJoyPos.force * Math.sin( absJoyPos.angle.radian - Math.PI / 4 ) );
							
								if( wheelPower.left  >  trimmers.limiter ) wheelPower.left  =  trimmers.limiter;
								if( wheelPower.right >  trimmers.limiter ) wheelPower.right =  trimmers.limiter;
								if( wheelPower.left  < -trimmers.limiter ) wheelPower.left  = -trimmers.limiter;
								if( wheelPower.right < -trimmers.limiter ) wheelPower.right = -trimmers.limiter;
								
								console.log( '[WS] calc: ' + absJoyPos.force );
								if( absJoyPos.force == 0 ) {
									wheelPower.left  = 0;
									wheelPower.right = 0;
								}							

								var msg = "X:" + String( parseInt( wheelPower.left  ) - parseInt( trimmers.balance ) ) + ";" +
										  "Y:" + String( parseInt( wheelPower.right ) + parseInt( trimmers.balance ) ) + ";" ;
								
								if( wsConnection && f_wsOpened )
								{
									//console.log( '[WS] calc: ' + wsConnection.readyState );
									if( wsConnection || wsConnection.readyState == 1 ) { wsConnection.send( msg ); console.log( msg ); }
								}
								
								if ("force" in data) {
									var force = data.force;
									force = force * 100; // in percent									
									absJoyPos.force = force;
								}

								if ("angle" in data)
									absJoyPos.angle = data.angle;

								if ("direction" in data)
									absJoyPos.direction = data.direction.angle;
							}

							/* ------------------ Joystic events ---------------------- */
							function bindNipple() {
								joystick
										.on(
												'start', 
												function(evt, data) {
													calcMotorPower(data);
										})
										.on(
												'end', 
												function(evt, data) {
													absJoyPos.force     = 0;
													absJoyPos.angle.radian = 0;
													absJoyPos.angle.degree = 0;
													absJoyPos.direction = 0;
													calcMotorPower(data);
										})
										.on(
												'move', 
												function(evt, data) {
													calcMotorPower(data);
										})
										.on(
												'dir:up plain:up dir:left plain:left dir:down plain:down dir:right plain:right',
												function(evt, data) {
													calcMotorPower(data);
												})
										.on(
												'pressure',
												function(evt, data) {
													calcMotorPower(data);
												});
							}

							/* ------------------ Joystic create ---------------------- */
							var joystick = nipplejs.create({
								zone : document
										.getElementById('joystick-content'),
								mode : 'static',
								position : {
									left : '50%',
									top : '50%'
								},
								color : 'green',
								size : 200
							});

							bindNipple();

							joystick.on('start move end dir plain', function(
									evt, nipple) {

								//$("#jForce").html("Force: " + Math.round( absJoyPos.force ) + " %");
								//$("#jAngle").html("Angle: " + Math.round( absJoyPos.angle.degree ) + " deg");
								$("#jRightMotor").html("Right Power: " + wheelPower.right + " %");
								$("#jLeftMotor").html("Left Power: " + wheelPower.left + " %");
							});

						</script>
					</div>
				</div>
			</div>
			<!--			<div class="col-xs-offset-0 col-md-offset-0 col-xs-6 col-md-6 ">
				<div class="panel panel-default">
					<div class="panel-heading ">
						<h3 class="panel-title ">Video</h3>
					</div>
					<div class="panel-body ">
						<img src="http://pihost.local:8080/?action=stream" />
					</div>
				</div>
			</div> -->
			<div class="col-xs-offset-0 col-md-offset-0 col-xs-6 col-md-6 ">
				<div class="panel panel-default">
					<div class="panel-heading ">
						<h3 class="panel-title ">Position</h3>
					</div>
					<div class="panel-body ">
					<!--	<h1 id="jForce" class="text-left main">force: ...</h1>
						<h1 id="jAngle" class="text-left main">angle: ...</h1> -->
						<h1 id="jLeftMotor" class="text-left main">LeftwheelPower : ...</h1>
						<h1 id="jRightMotor" class="text-left main">RightwheelPower : ...</h1>
					</div>
				</div>
			</div>
			<div class="col-xs-offset-0 col-md-offset-0 col-xs-6 col-md-6 ">
				<div class="panel panel-default">
					<div class="panel-heading ">
						<h3 class="panel-title ">Trimmers</h3>
					</div>
					<div class="panel-body ">
					<h3 class="text-center ">
						<h1 id="jMaxSpeedPrn" class="text-left main">Limit: </h1>
						<input id="jMaxSpeed" type="range" min='0' max='100' defvalue="80" name="limiter">
						
						<h1 id="jBalancePrn"   class="text-left main">Balance: </h1>
						<input id="jBalance"   type="range" min='-20' max='20'  defvalue="0" name="balance">
						<script>
							var trimmers = { limiter : 100 , balance : 0 };						
							$('#jMaxSpeed').on('start change mousemove mousedown' , 
							function( env ){
								trimmers.limiter = env.target.value; 
								$('#jMaxSpeedPrn').html( 'Limit: ' + trimmers.limiter );
							} );
							
							$('#jBalance'  ).on('start change mousemove mousedown' , function( env ){
								trimmers.balance = env.target.value; 
								$('#jBalancePrn').html( 'Balance: ' + trimmers.balance );
							} );										
						</script>
					</h3>
				</div>
			</div>
		</div>			
	</div>
</div>
</body>

</html>